$('#invoice_note').html("<%= escape_javascript render('invoice_notes/invoice_note') %>")
.append('<a href="#">Remove Note</a>');

$('#invoice_note a').click(function() {
  $('#invoice_note').html(
	  	"<%= escape_javascript link_to 'Add Note', 
	  	ajax_new_invoice_notes_path, remote: true %>"
  	)
});
