<% increment_counter %>
<tr>
	<td>
		<input id=<%= "invoice_invoice_items_attributes_" + counter + "_name" %> 
		name=<%= "invoice[invoice_items_attributes][" + counter + "][name]" %> 
		type="text">
	</td>
	<td>
		<input id=<%= "invoice_invoice_items_attributes_" + counter + "_price" %> 
		name=<%= "invoice[invoice_items_attributes][" + counter + "][price]" %> 
		type="number">
	</td>
	<td>
		<input id="invoice_invoice_items_attributes_" + counter + "__destroy" type="checkbox" value="1" name="invoice[invoice_items_attributes][" + counter + "][_destroy]">
	</td>
</tr>




